# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.test

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode
*.code-workspace

# Go build artifacts
env-output-setter
*.exe
*.dll
*.so
*.dylib

# Go test binary, built with `go test -c`
*.test

# Go coverage files
*.out
coverage.txt

# Go dependency directories
vendor/

# Temporary test files
/tmp/test_github_env
/tmp/test_github_output
